*{
    box-sizing: border-box;
    margin: 0;
}
body{

    text-align: center;
    font-family: sans-serif;
    
    
    
}
.container{
    background: darkseagreen;
    width: 600px;
    height: 600px;
    margin: auto;

}
